public_education/pieChart.json
[{"id":"6bf5b22.2349a4c","type":"http request","z":"559a6736.fa65b8","name":"Certificates","method":"GET","ret":"obj","url":"http://localhost:3000/api/Certificate","tls":"","x":375.5,"y":224,"wires":[["74b375e7.d7776c"]]},{"id":"b19c233d.56cfb8","type":"debug","z":"559a6736.fa65b8","name":"","active":true,"console":"false","complete":"payload","x":897.5,"y":221,"wires":[]},{"id":"433fdb17.d5f1fc","type":"inject","z":"559a6736.fa65b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":169.5,"y":224,"wires":[["6bf5b22.2349a4c"]]},{"id":"74b375e7.d7776c","type":"function","z":"559a6736.fa65b8","name":"Get Typenote","func":"\nvar a = [];\nvar b = [];\nvar msg = msg.payload;\ncounter = {}\n\nmsg.forEach(function(obj) {\n    var key = JSON.stringify(obj.type)\n    counter[key] = (counter[key] || 0) + 1\n    \n});\nvar k = Object.values(counter);\nvar t = Object.keys(counter);\nfor(var i =0 ; i<k.length ; i++)\n        {\n            a.push({topic:t[i],payload:k[i]});\n        }\n\n\nreturn  [a];\n\n    \n","outputs":1,"noerr":0,"x":657.5,"y":200,"wires":[["b19c233d.56cfb8","476d471.f6939b8"]]},{"id":"476d471.f6939b8","type":"ui_chart","z":"559a6736.fa65b8","name":"","group":"2a79050f.4e5a1a","order":0,"width":0,"height":0,"label":"chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":599.5,"y":263,"wires":[[],[]]},{"id":"2a79050f.4e5a1a","type":"ui_group","z":"","name":"Certificates","tab":"fdf6d46e.2d2f28","disp":true,"width":"6"},{"id":"fdf6d46e.2d2f28","type":"ui_tab","z":"","name":"Charts","icon":"dashboard"}]
