node-red-ui/check-certificate-flow.json
[{"id":"9a22d235.40b888","type":"hyperledger-composer-mid","z":"1089353f.f6dbbb","name":"","composerCard":"e5f6f4da.c00a98","actionType":"retrieve","resolve":true,"x":569,"y":198,"wires":[["6052d02d.eaf0f8","60b90572.4ed694","28b9f529.825d2a","3244f4e3.405b4c","ceeef8eb.c8e7d8"]]},{"id":"3e8d5518.dac092","type":"ui_form","z":"1089353f.f6dbbb","name":"","label":"","group":"ed2b454c.6f703","order":0,"width":0,"height":0,"options":[{"label":"UID","value":"id","type":"text","required":true},{"label":"OTP","value":"passkey","type":"text","required":true}],"formValue":{"id":"","passkey":""},"payload":"","topic":"","x":136.5,"y":197,"wires":[["565e7dac.07cb44"]]},{"id":"565e7dac.07cb44","type":"function","z":"1089353f.f6dbbb","name":"Add $class","func":"msg.payload[\"$class\"] =  \"org.acme.biznet.Certificate\"\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":197,"wires":[["9a22d235.40b888"]]},{"id":"6052d02d.eaf0f8","type":"debug","z":"1089353f.f6dbbb","name":"","active":true,"console":"false","complete":"false","x":998.5,"y":82,"wires":[]},{"id":"60b90572.4ed694","type":"ui_text","z":"1089353f.f6dbbb","group":"b029d735.2913a8","order":0,"width":0,"height":0,"name":"","label":"Owner","format":"{{msg.payload.owner.ownerName}}","layout":"row-spread","x":980.5,"y":211,"wires":[]},{"id":"4fe372cc.95e5e4","type":"inject","z":"1089353f.f6dbbb","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":435.5,"y":76,"wires":[["136a4f9d.98fe4"]]},{"id":"28b9f529.825d2a","type":"ui_text","z":"1089353f.f6dbbb","group":"b029d735.2913a8","order":0,"width":0,"height":0,"name":"","label":"Type","format":"{{msg.payload.type}}","layout":"row-spread","x":982,"y":273,"wires":[]},{"id":"3244f4e3.405b4c","type":"ui_text","z":"1089353f.f6dbbb","group":"b029d735.2913a8","order":0,"width":0,"height":0,"name":"","label":"Description","format":"{{msg.payload.description}}","layout":"row-spread","x":999,"y":336,"wires":[]},{"id":"ceeef8eb.c8e7d8","type":"ui_text","z":"1089353f.f6dbbb","group":"b029d735.2913a8","order":0,"width":0,"height":0,"name":"","label":"Date of Issue","format":"{{msg.payload.issueDate}}","layout":"row-spread","x":1011,"y":395,"wires":[]},{"id":"136a4f9d.98fe4","type":"ui_button","z":"1089353f.f6dbbb","name":"Reset","group":"b029d735.2913a8","order":0,"width":"2","height":"1","passthru":true,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":615.5,"y":76,"wires":[["60b90572.4ed694","28b9f529.825d2a","3244f4e3.405b4c","ceeef8eb.c8e7d8"]]},{"id":"e5f6f4da.c00a98","type":"hyperledger-composer-config","z":"","cardName":"admin@public_education"},{"id":"ed2b454c.6f703","type":"ui_group","z":"","name":"Query","tab":"843a62c8.3b3b8","disp":true,"width":"6"},{"id":"b029d735.2913a8","type":"ui_group","z":"","name":"Result","tab":"843a62c8.3b3b8","order":2,"disp":true,"width":"6"},{"id":"843a62c8.3b3b8","type":"ui_tab","z":"","name":"Check Certificate","icon":"dashboard","order":4}]
