node-red-ui/create-issuer-flow.json
[{"id":"98b0e6c.06aa518","type":"debug","z":"79319af4.c1b9f4","name":"","active":true,"console":"false","complete":"true","x":638,"y":148,"wires":[]},{"id":"cf41c2ae.0b7ae","type":"inject","z":"79319af4.c1b9f4","name":"","topic":"","payload":"{\"$class\":\"org.acme.biznet.Issuer\",\"issuerId\":\"1234\",\"issuerName\":\"Checkerpig\",\"issuerCountry\":\"Netherlands\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":207,"y":341,"wires":[["2e9b650e.73c4da"]]},{"id":"2e9b650e.73c4da","type":"hyperledger-composer-out","z":"79319af4.c1b9f4","name":"Create Issuer Participant","composerCard":"e5f6f4da.c00a98","actionType":"create","x":757,"y":249,"wires":[]},{"id":"29a563dd.a44ff4","type":"ui_form","z":"79319af4.c1b9f4","name":"","label":"Create","group":"8f4fad0.00bd25","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"issuerName","type":"text","required":true},{"label":"Id","value":"issuerId","type":"text","required":true},{"label":"Naionality","value":"issuerCountry","type":"text","required":true}],"formValue":{"issuerName":"","issuerId":"","issuerCountry":""},"payload":"","topic":"","x":199,"y":414,"wires":[["7cf4d31c.50849c"]]},{"id":"7cf4d31c.50849c","type":"function","z":"79319af4.c1b9f4","name":"Add $class","func":"msg.payload[\"$class\"] =  \"org.acme.biznet.Issuer\"\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":407,"wires":[["2e9b650e.73c4da","98b0e6c.06aa518"]]},{"id":"e5f6f4da.c00a98","type":"hyperledger-composer-config","z":"","cardName":"admin@public_education"},{"id":"8f4fad0.00bd25","type":"ui_group","z":"","name":"Issuer","tab":"5538a217.b3ee2c","disp":true,"width":"6"},{"id":"5538a217.b3ee2c","type":"ui_tab","z":"","name":"Issuer","icon":"dashboard","order":2}]
