node-red-ui/create-certification-flow.json
[{"id":"29e3081b.aca2b","type":"debug","z":"5d0aa1fb.24bf1","name":"","active":true,"console":"false","complete":"true","x":679,"y":99,"wires":[]},{"id":"52bf0fce.64224","type":"inject","z":"5d0aa1fb.24bf1","name":"","topic":"","payload":"{\"$class\":\"org.acme.biznet.Certificate\",\"certificateId\":\"7\",\"description\":\"string\",\"type\":\"string\",\"issuer\":\"resource:org.acme.biznet.Issuer#issuer1\",\"owner\":\"resource:org.acme.biznet.Owner#1234\",\"issueDate\":\"2017-11-24T18:43:17.001Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":238,"y":232,"wires":[[]]},{"id":"1e46dfec.54d1b8","type":"hyperledger-composer-out","z":"5d0aa1fb.24bf1","name":"Create Certificate","composerCard":"e5f6f4da.c00a98","actionType":"create","x":736,"y":223,"wires":[]},{"id":"a422cec5.865de","type":"ui_form","z":"5d0aa1fb.24bf1","name":"","label":"Create","group":"8e78df9f.999bb8","order":0,"width":0,"height":0,"options":[{"label":"Id","value":"certificateId","type":"text","required":true},{"label":"Description","value":"description","type":"text","required":true},{"label":"Type","value":"type","type":"text","required":true},{"label":"Owner Id","value":"owner","type":"text","required":true},{"label":"Issuer Id ","value":"issuer","type":"text","required":true}],"formValue":{"certificateId":"","description":"","type":"","owner":"","issuer":""},"payload":"","topic":"","x":228,"y":388,"wires":[["7fd28003.86a7c"]]},{"id":"7fd28003.86a7c","type":"function","z":"5d0aa1fb.24bf1","name":"Add $class & refs","func":"msg.payload[\"$class\"] =  \"org.acme.biznet.Certificate\"\nmsg.payload.issuer = \"resource:org.acme.biznet.Issuer#\" + msg.payload.issuer\nmsg.payload.owner = \"resource:org.acme.biznet.Owner#\" + msg.payload.owner\nvar now = new Date();\nmsg.payload.issueDate = now.toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":388,"wires":[["1e46dfec.54d1b8","29e3081b.aca2b"]]},{"id":"e5f6f4da.c00a98","type":"hyperledger-composer-config","z":"","cardName":"admin@public_education"},{"id":"8e78df9f.999bb8","type":"ui_group","z":"","name":"Certificate","tab":"9fa6cb9a.6a3c6","disp":true,"width":"6"},{"id":"9fa6cb9a.6a3c6","type":"ui_tab","z":"","name":"Certificate","icon":"dashboard"}]
