node-red-ui/create-owner-flow.json
[{"id":"2e07d7cb.91f7a8","type":"debug","z":"4851d8c.0c0f2a8","name":"","active":true,"console":"false","complete":"true","x":693,"y":165,"wires":[]},{"id":"5626d95.0fe1628","type":"inject","z":"4851d8c.0c0f2a8","name":"","topic":"","payload":"{\"$class\":\"org.acme.biznet.Owner\",\"ownerId\":\"1234\",\"ownerName\":\"Peter Pan\",\"ownerNationality\":\"Neverland\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":262,"y":358,"wires":[["2e07d7cb.91f7a8","9c8cf7.a3004308"]]},{"id":"9c8cf7.a3004308","type":"hyperledger-composer-out","z":"4851d8c.0c0f2a8","name":"Create Owner Participant","composerCard":"e5f6f4da.c00a98","actionType":"create","x":788,"y":271,"wires":[]},{"id":"3154883c.c96228","type":"ui_form","z":"4851d8c.0c0f2a8","name":"","label":"Create","group":"78027cf6.5abd04","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"ownerName","type":"text","required":true},{"label":"Id","value":"ownerId","type":"text","required":true},{"label":"Naionality","value":"ownerNationality","type":"text","required":true}],"formValue":{"ownerName":"","ownerId":"","ownerNationality":""},"payload":"","topic":"","x":254,"y":431,"wires":[["5370d820.9f33e"]]},{"id":"5370d820.9f33e","type":"function","z":"4851d8c.0c0f2a8","name":"Add $class","func":"msg.payload[\"$class\"] =  \"org.acme.biznet.Owner\"\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":424,"wires":[["9c8cf7.a3004308","2e07d7cb.91f7a8"]]},{"id":"e5f6f4da.c00a98","type":"hyperledger-composer-config","z":"","cardName":"admin@public_education"},{"id":"78027cf6.5abd04","type":"ui_group","z":"","name":"Owner","tab":"20ac620f.0aa586","order":1,"disp":true,"width":"6"},{"id":"20ac620f.0aa586","type":"ui_tab","z":"","name":"Owner","icon":"dashboard","order":1}]
